body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    letter-spacing: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-sizing: inherit;
}

nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 8px 16px;
    float: left;
}

nav a:hover {
    background-color: #cccccc;
}

nav div:first-child {
    float: left;
    padding: 8px 16px;
}

nav div:last-child {
    float: right;
    padding: 8px 16px;
}

.home {
    position: relative;
    max-width: 1500px;
    margin: auto;
    box-sizing: inherit;
}

.home img {
    box-sizing: inherit;
    vertical-align: middle;
    height: auto;
    border-style: none;
    width: 100%
}

.home h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;
    transform: translate(-50%,-50%);
    margin-top: 16px;
}

.home h1 span:first-child {
    color: white;
    background-color: black;
    opacity: 0.75;
    padding: 8px 16px;
}

section {
    position: relative;
    max-width: 1564px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 16px;
    box-sizing: inherit;
}

.title {
    padding: 32px 16px;
}

.title h3 {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 16px;
    padding-top: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
}

.rows {
    padding: 0 8px;
    display: inline-flex;
    margin-right: auto;
}

.rows div {
    position: relative;
    padding: 0 8px;
    margin-bottom: 16px;
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.rows p {
    position: absolute;
    top: 0;
    left: 8;
    background-color: black;
    color: white;
    padding: 8px 16px;
    box-sizing: border-box;
    margin: auto;
}

.rows img {
    width: 100%;
    border-style: none;
    box-sizing: border-box;
    vertical-align: middle;
}

.team {
    filter: grayscale(75%);
    padding: 0 8px;
    display: inline-flex;
}

.team div {
    position: relative;
    padding: 0 8px;
    margin-bottom: 16px;
    width: 25%;
    float: left;
}

.team img {
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

.team h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
    box-sizing: border-box;
}

.team p:nth-child(3) {
    opacity: 0.6;
}

.team button {
    color: black;
    background-color: #f1f1f1;
    text-align: center;
    width: 100%;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    font: inherit;
}

.team button:hover {
    background-color: #ccc;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
    display: block;
    width: 100%;
    margin: 0;
    font: inherit;
    box-sizing: border-box;
}

.inputs {
    margin: 16px 0;
}

form button {
    font: inherit;
    text-align: center;
    color: white;
    background-color: black;
    margin: 16px 0;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

form button:hover {
    color: black;
    background-color: #ccc;
}

.map {
    padding: 0 16px;
    box-sizing: border-box;
}

.map img {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
}

footer a:visited {
    color: white;
}

footer a:hover {
    color: #4CAF50;
}